<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Login_username"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoGanadero"
        tools:targetApi="31">
        <activity
            android:name=".ui.User.Register.RegisterUserActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.Farm.deleteEdit.FarmEditDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.User.LogIn.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Finance.FinanceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Cow.CowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.User.Consult.UserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Farm.consult.FarmActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.Home.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Farm.register.FarmRegisterActivity"
            android:exported="false"/>
    </application>

</manifest>